<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Frund</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/loginstyle.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="top-bar">
        <img class="imgresizer" src="~/Content/Images/logo.png" />
    </div>
    <div class="bodycontent">
        @RenderBody()
    </div>
</body>
</html>