@model SandboxProjectGlenn.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/usersettingsstyle.css" rel="stylesheet" />
<h2>Account settings</h2>
@using (Html.BeginForm("ChangePassword", "AccountSettings", FormMethod.Post, new { @class = "form-horizontal margin-side", role = "form" }))
{
<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Here you can change your password</h6>
        <div class="card-body">
            @Html.PasswordFor(a => a.Password)
        </div>
    </div>
    <div class="card-footer text-center">
        <input class="btn btn-primary" type="submit" value="Change password" />
    </div>

</div>
}
@using (Html.BeginForm("ChangeEmail", "AccountSettings", FormMethod.Post, new { @class = "form-horizontal margin-side", role = "form" }))
{
<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Here you can enter a new Email</h6>
        <div class="card-body">@Html.TextBoxFor(u => u.Email)</div>
    </div>
    <div class="card-footer text-center">
        <input class="btn btn-primary" type="submit" value="Change Email" />
    </div>
    </div>
    }
